body {
  font-size: 16px;
  color: #fff;
  background-color: #7166FF;
  font-family: 'Oxygen', sans-serif;
}
/***  HEADER NAV ****/
#header-nav {
  background-color: #2D2B2D;
  border-radius: 0;
  border: 0;

}

.navbar-brand {
  padding-top: 25px;
}
.navbar-brand h1 { /* Restaurant name */
  font-family: 'Lora', serif;
  color: #fff;
  font-size: 1.5em;
  text-transform: uppercase;
  font-weight: bold;
  text-shadow: 2px 2px 2px #222;
  margin-top: 0;
  margin-bottom: 0;
  line-height: .45;
}
.navbar-brand a:hover{
  text-decoration: none;
}
#nav-list{
  text-transform: uppercase;
}
#nav-list a:hover{
  color: #FFFFFF;
}

.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1px solid #61122f;
}
.navbar-header button.navbar-toggle {
  clear: both;
  margin-top: -30px;
}

h2{
  text-align: center;
  text-transform: capitalize;
}
#home-tiles{
  padding-top: 50px;

}

#chicken, #beef, #sushi {
  height: 40px;
  width: 100%;
  margin-bottom: 15px;
  position: relative;
  border: 2px solid #000;
  overflow: hidden;
}
p{
  font-style: italic;
  font-size: 0.9em;
}


#home-tiles span{
  position: absolute;
  top:0;
  right: 0;
  width: 100%;
  text-align: center;
  font-size: 1.6em;
  text-transform: uppercase;
  background-color: #000;
  color: #fff;
  opacity: .75;
  }

 #navi{
  color: #000;
 }